@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-nextjs-dev-indicator],
.next-dev-indicator,
nextjs-portal {
  display: none !important;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(47, 47, 47);
}

::-webkit-scrollbar-track {
  margin: 2rem;
}

@theme {
  --color-my-black-max: #212529;
  --color-my-black-high: #343a40;
  --color-my-black-med: #6c757d;
  --color-my-black-low: #adb5bd;
  --color-my-white-high: #ced4da;
  --color-my-white-med: #e9ecef;
  --color-my-white-low: #f5f5f5;
  --color-my-green-high: #009966;
  --color-my-green-med: #00d492;
  --color-my-green-low: #a4f4cf;
  --color-my-blue-high: #0092b8;
  --color-my-blue-med: #00d3f2;
  --color-my-blue-low: #a2f4fd;
  --color-my-red-med: #ff006e;
}

@layer components {
  .playdownloadbtn {
    @apply w-full text-center inline-block py-2 shadow-md shadow-my-black-low/50 dark:shadow-my-black-med/50 hover:shadow-my-black-low dark:hover:shadow-my-black-med rounded-lg text-sm cursor-pointer bg-my-white-low dark:bg-my-black-max transition-all duration-300;
  }
}
