@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-nextjs-dev-indicator],
.next-dev-indicator,
nextjs-portal {
  display: none !important;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(47, 47, 47);
}

::-webkit-scrollbar-track {
  margin: 2rem;
}
